<h2>BIO</h2>

<div class="container__paragraph">

    <p>
        Mariel Juarez nació en Gral. Madariaga, Bs. As. en 1985. Es Técnica y Fotógrafa Profesional recibida en la Escuela de Artes Visuales Martin A. Malharro de Mar del Plata. 
    </p>
    <p>
        A los 18 años comenzó la carrera de Licenciatura en Trabajo Social en UNMDP. Si bien abandono la carrera en el ultimo año de cursada, la misma le brindo las herramientas y los espacios para adentrarse en las practicas de los talleres. 
    </p>
    <p>
        En el espacio educativo, a la fecha, ejerce como tallerista en la Escuela de Bellas Artes de Gral. Madariaga, y en el espacio "Pinamar Aprende" de la secretaria de Cultura de Pinamar. Como docente en la carrera de Lic. en Diseño de la Imagen Visual en UADE sede Pinamar.
    </p>
        
</div>