<mat-drawer-container class="example-container">


  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">

    <div class="menu__container" #drawer>
      <button class="menu__btn-close" type="button" mat-button (click)="drawer.toggle()">
        <span class="material-icons">close</span>
      </button>

      <a href="">Work</a>
      <a href="">Work</a>
      <a href="">Work</a>
      <a href="">Work</a>
    </div>

  </mat-drawer>


  <div class="example-sidenav-content">
    <h1>MARIEL JUAREZ</h1>
    <button type="button" class="menu__btn-open" mat-button (click)="drawer.toggle()">
      <span class="material-icons">menu</span>
    </button>
  </div>

  <div class="img__container producciones">
    <div class="div__route-seccion"><a href="#">PRODUCCIONES</a></div>
  </div>

  <div class="img__container arquitectura">
    <div class="div__route-seccion"><a href="#">ARQUITECTURA/DECO</a></div>
  </div>

  <div class="img__container camp">
    <div class="div__route-seccion"><a href="#">CAMPAÑAS</a></div>
  </div>

  <div class="img__container sesiones">
    <div class="div__route-seccion"><a href="#">SESIONES</a></div>
  </div>

  <div class="img__container personal">
    <div class="div__route-seccion"><a href="#">PERSONAL</a></div>
  </div>

  <div class="img__container">
    <div class="div__route-seccion"><a href="#">BIO</a></div>
    BIO
  </div>


</mat-drawer-container>