
@keyframes showLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.example-container {
    width: 100%;
  }
  
  .example-sidenav-content {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: auto;
      font-family: 'Commissioner', sans-serif;
      font-size: 1.2rem;
    }
  }
  
  .example-sidenav {
    display: flex;
  }

  .menu__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .menu__btn-open {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    padding: 10px;
    margin-right: 15px;
  }

  .menu__btn-close {
    width: 40px;
    border: none;
    background: none;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    align-self: flex-end;
  }

  a {
    font-family: 'Commissioner', sans-serif;
    font-size: 1.2rem;
    align-self: center;
    text-decoration: none;
    color: black;
    padding: 15px 0;
  }


  .producciones {
    background-image: url('../../../assets/producciones/sombreros-uno.jpg');
    background-size: cover;
  }

  .arquitectura {
    background-image: url('../../../assets/arquitectura/arquitectura-uno.jpg');
    background-size: cover;
  }

  .camp {
    background-image: url('../../../assets/camp/camp-uno.jpg');
    background-size: cover;
    background-position-x: center;
  }

  .sesiones {
    background-image: url('../../../assets/sesiones/sesiones-uno.jpg');
    background-size: cover;
    background-position-x: center;
  }

  .personal {
    background-image: url('../../../assets/personal/personal-uno.jpg');
    background-size: cover;
    background-position-y: center;
  }

  .div__route-seccion {
    opacity: 0;
    width: 92%;
    height: 92%;
    margin: 4%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.816);
    font-weight: 500;

    &:hover {
      animation: showLink 0.5s forwards;
    }

  }