<h2>CAMPAÑAS</h2>

<div class="container__flex">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-1.jpg" alt="">
    
    <img class="img__flex-half" src="../../../../assets/camp/camp-2.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/camp/camp-3.jpg" alt="">

    <img class="img__flex-full" src="../../../../assets/camp/camp-4.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-5.jpg" alt="">
    
    <img class="img__flex-1-quarter" src="../../../../assets/camp/camp-6.jpg" alt="">
    <img class="img__flex-3-quarter" src="../../../../assets/camp/camp-7.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-8.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-9.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/camp/camp-10.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/camp/camp-11.jpg" alt="">

    <img class="img__flex-full" src="../../../../assets/camp/camp-12.jpg" alt="">

    <img class="img__flex-full" src="../../../../assets/camp/camp-13.jpg" alt="">

    <img class="img__flex-3-quarter" src="../../../../assets/camp/camp-14.jpg" alt="">
    <img class="img__flex-1-quarter" src="../../../../assets/camp/camp-15.jpg" alt="">

    <img class="img__flex-full" src="../../../../assets/camp/camp-16.jpg" alt="">
    
    <img class="img__flex-3-quarter-" src="../../../../assets/camp/camp-17.jpg" alt="">
    <img class="img__flex-1-quarter-" src="../../../../assets/camp/camp-18.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-19.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/camp/camp-20.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/camp/camp-21.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/camp/camp-22.jpg" alt="">

    <img class="img__flex-full" src="../../../../assets/camp/camp-23.jpg" alt="">
    
    <img class="img__flex-3-quarter-" src="../../../../assets/camp/camp-24.jpg" alt="">
    <img class="img__flex-1-quarter-" src="../../../../assets/camp/camp-25.jpg" alt="">

</div>