
<div class="img__container producciones">
    <div class="div__route-seccion"><a routerLink="./producciones">PRODUCCIONES</a></div>
  </div>

  <div class="img__container arquitectura">
    <div class="div__route-seccion"><a href="#">ARQUITECTURA/DECO</a></div>
  </div>

  <div class="img__container camp">
    <div class="div__route-seccion"><a href="#">CAMPAÑAS</a></div>
  </div>

  <div class="img__container sesiones">
    <div class="div__route-seccion"><a href="#">SESIONES</a></div>
  </div>

  <div class="img__container personal">
    <div class="div__route-seccion"><a href="#">PERSONAL</a></div>
  </div>

  <div class="img__container">
    <div class="div__route-seccion"><a href="#">BIO</a></div>
    BIO
  </div>