<h2>ARQUITECTURA/DECO</h2>

<div class="container__flex" *ngIf="!carousel">
    
    <img (click)="showCarousel()" class="img__flex-full" src="../../../../assets/arquitectura/arquitectura-1.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-2.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-3.jpg" alt="">

    <img class="img__flex-3-quarter" src="../../../../assets/arquitectura/arquitectura-4.jpg" alt="">
    <img class="img__flex-1-quarter" src="../../../../assets/arquitectura/arquitectura-5.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-6.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-7.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-8.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-9.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/arquitectura/arquitectura-10.jpg" alt="">
    
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-11.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-12.jpg" alt="">
    
    <img class="img__flex-full" src="../../../../assets/arquitectura/arquitectura-13.jpg" alt="">

    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-14.jpg" alt="">
    <img class="img__flex-half" src="../../../../assets/arquitectura/arquitectura-15.jpg" alt="">

</div>

<app-carousel *ngIf="carousel" [images]="images"></app-carousel>






