$item-mt: 10%;

h2 {
    text-align: center;
    font-weight: 300;
}

.container__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
    width: 100vw;
    height: 500px;

    .img__flex-full {
        width: 100%;
        margin-top: $item-mt;
    }

    .img__flex-half {
        width: 49%;
        margin-top: $item-mt;
    }

    .img__flex-3-quarter {
        width: 68%;
        margin-top: $item-mt;
    }

    .img__flex-1-quarter {
        width: 30%;
        margin-top: $item-mt;
    }

    .img__flex-3-quarter- {
        width: 64%;
        margin-top: $item-mt;
    }

    .img__flex-1-quarter- {
        width: 34%;
        margin-top: $item-mt;
    }

    .img__flex-3 {
        width: 39%;
        margin-top: $item-mt;
    }

    .img__flex-2 {
        width: 18%;
        margin-top: $item-mt;
    }

}

@media (min-width: 600px) {
    h2 {
        font-size: 2.2rem;
    }
    .container__flex {
        box-sizing: border-box;
        padding: 3rem;
    }
    .img__flex-full, .img__flex-half {
        max-height: 80vh;
        max-width: fit-content;
        margin: auto;
    }
  }