@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&display=swap');

::-webkit-scrollbar { 
    display: none; 
}

html, body { 
    height: 100% ; 
    width: 100vw; 
    overflow-x: hidden; 
    font-family: 'Commissioner', sans-serif; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}