<div *ngIf="images && images.length > 0" class="container__carousel">
    <img *ngFor="let image of images; let i = index"
         [src]="image.imageSrc" 
         [alt]="image.imageAlt"
         [ngClass]="{'image-active': selectedIndex === i}">

         <div *ngIf="indicators" class="container__carrousel-dot">
            <span *ngFor="let dot of images; let i = index"
                  class="dot"
                  [ngClass]="{'dot-active': selectedIndex === i}"
                  (click)="selectImage( i )"></span>
         </div>

         
</div>
