<h2>PRODUCCIONES</h2>

<div class="container">

    <img class="img__full" src="../../../../assets/producciones/prod-1.jpg" alt="">
    <h4 class="title__description">Sofia Santos AMBIENTACION</h4>
    
    <img class="img__full" src="../../../../assets/producciones/prod-2.jpg" alt="">

    <br>

    <div class="container__half">
        <img class="img__half" src="../../../../assets/producciones/prod-3.jpg" alt="">
        <img class="img__half" src="../../../../assets/producciones/prod-4.jpg" alt="">
    </div>

    <br>

    <div class="container__half">
        <img class="img__half" src="../../../../assets/producciones/prod-5.jpg" alt="">
        <img class="img__half" src="../../../../assets/producciones/prod-6.jpg" alt="">
    </div>

    <br>

    <img class="img__full" src="../../../../assets/producciones/prod-7.jpg" alt="">
    <h4 class="title__description">FUTURISMO - Vestuarista/Florencia Cornide</h4>
    
    <br>

    <div class="container__half">
        <img class="img__half" src="../../../../assets/producciones/prod-8.jpg" alt="">
        <img class="img__half" src="../../../../assets/producciones/prod-9.jpg" alt="">
    </div>

    <br>

    <img class="img__full" src="../../../../assets/producciones/prod-10.jpg" alt="">

    <br>

    <br>

    <img class="img__full" src="../../../../assets/producciones/prod-11.jpg" alt="">

    <br>

    <br>

    <img class="img__full" src="../../../../assets/producciones/prod-12.jpg" alt="">
    <h4 class="title__description">Sixties COLECCIONES - Vestuarista/Florencia Cornide.<br>Taller de diseño y producción de vestuario. Reciclar y reinventar, arte y diseño en el cuerpo.</h4>
    <!-- <h4 class="title__description">Taller de diseño y producción de vestuario. Reciclar y reinventar, arte y diseño en el cuerpo.</h4> -->
    <br>

    <div class="container__half">
        <img class="img__half" src="../../../../assets/producciones/prod-13.jpg" alt="">
        <img class="img__half" src="../../../../assets/producciones/prod-14.jpg" alt="">
    </div>

    <br>

    <img class="img__full" src="../../../../assets/producciones/prod-15.jpg" alt="">

</div>
